<div class="fixed flex items-center justify-center min-h-[600px] bg-gray-100">
  <form (ngSubmit)="onSubmit()" class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
    <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">Enter New Password</h1>

    <div class="mb-4">
      <label for="email" class="block text-gray-700 font-bold mb-2">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-gray-500" required>
    </div>

    <div class="mb-4">
      <label for="verificationCode" class="block text-gray-700 font-bold mb-2">Verification Code:</label>
      <input type="text" id="verificationCode" [(ngModel)]="verificationCode" name="verificationCode" class="form-control w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-gray-500" required>
    </div>

    <div class="mb-4">
      <label for="newPassword" class="block text-gray-700 font-bold mb-2">New Password:</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" class="form-control w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-gray-500" required>
    </div>

    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg w-full">Submit</button>
    
    <div *ngIf="message$ | async as message" class="mt-4 text-green-600">{{ message }}</div>
    <div *ngIf="error$ | async as error" class="mt-4 text-red-600">{{ error }}</div>
  </form>
</div>
